@model DeliveryMan.Models.BlackListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Blacklist</title>
</head>
<body>
    <br />
    <p>
        <input type="button" value="Back to Review" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("ReviewOrder", "Restaurant"))'" />
    </p>
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Deliveryman Name
            </th>
            <th>
                Orders Delivered
            </th>
            <th>
                Average delivery time
            </th>
            <th>
                Average Rating
            </th>
        </tr>

        @foreach (var item in Model.ToList())
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @destination
                </td>
                <td>
                    @if (item.Deliveryman != null)
                    {
                        string res = item.Deliveryman.getName();
                        @res
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
            </tr>
        }
    </table>

</body>
</html>
