@model IEnumerable<DeliveryMan.Models.BlackListViewModel>

@{
    ViewBag.Title = "Blacklist";
}

<h2>@ViewBag.Title.</h2>

<h4>
    View your blacklist! Remove people from this list if you want
    them to see any orders you post in the future
</h4>
<hr />

@if (ViewBag.orderId != null)
{
    <input type="button" value="Back to Review" class="btn btn-danger"
           onclick="location.href = '@(Url.Action("ReviewOrder", "Restaurant", new { id = ViewBag.orderId }))'" />
}
else if (TempData["orderId"] != null)
{
    <input type="button" value="Back to Review" class="btn btn-danger"
           onclick="location.href = '@(Url.Action("ReviewOrder", "Restaurant", new { id = TempData["orderId"] }))'" />
}
else
{
    <input type="button" value="Back to Manage" class="btn btn-danger"
           onclick="location.href = '@(Url.Action("Index", "Manage"))'" />
}

@foreach (var item in Model)
{
    <div class="form-group">
        <div class="col-md-10">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DeliverymanName)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.DeliverymanName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Rating)
                </dd>

                <dd>
                    <input type="button" value="Remove" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("DeleteFromBlacklist", "Restaurant", new { id = item.DeliverymanId }))'" />
                </dd>
            </dl>
        </div>
    </div>
}