@model DataLayer.Deliveryman

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deliveryman Details</title>
</head>
<body>
    <div>
        <h4>Deliveryman</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Icon")
            </dt>
            <dd>
                <img src="~/Content/UserIcon/@Model.IconImageUrl?id=1" style="width: 150px; height:150px">
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contact.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contact.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact.PhoneNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalDeliveryCount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalDeliveryCount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
        </dl>
    </div>
    <p>
        <input type="button" value="Back to Orders" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("Orders", "Restaurant"))'" />
    </p>
</body>
</html>
