@model List<DeliveryMan.Models.RestaurantOrdersHistoryViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders History</title>
</head>
<body>
    <p>
        <input type="button" value="Current Orders" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("Orders", "Restaurant"))'" />
    </p>
    <table class="table">
        <tr>
            <th>
                Deliveryman Name
            </th>
            <th>
                Description
            </th>
            <th>
                Placed Time
            </th>
            <th>
                Pickup Time
            </th>
            <th>
                Delivered Time
            </th>
            <th>
                Delivery Fee
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td onclick="location.href='@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.OrderId }))'">
         
                <a href="@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.OrderId }))">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryFee)
            </td>
            <td>
                @if (!item.IsReviewed)
                {
                    <input type="button" value="Review" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("ReviewOrder", "Restaurant", new { id = item.OrderId}))'" />
                }
                <input type="button" value="Details" class="btn btn-danger"
                       onclick="location.href = '@(Url.Action("OrderDetails", "Restaurant", new { id = item.OrderId}))'" />
            </td>
        </tr>
    }
    </table>
</body>
</html>
