@model List<DeliveryMan.Models.RestaurantOrdersHistoryViewModel>

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Table.css")
</head>
<body>
    <br />
    <p>
        <input type="button" value="Current Orders" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("Orders", "Restaurant"))'" />
    </p>
    <table class="table">
        <tr>
            <th style="vertical-align:middle">
                Deliveryman Name
            </th>
            <th style="vertical-align:middle; width: 15em">
                Description
            </th>
            <th style="vertical-align:middle">
                Placed Time
            </th>
            <th style="vertical-align:middle">
                Pickup Time
            </th>
            <th style="vertical-align:middle">
                Delivered Time
            </th>
            <th style="vertical-align:middle">
                Delivery Fee
            </th>
            <th style="vertical-align:middle"></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td onclick="location.href='@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.OrderId }))'">
         
                <a href="@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.OrderId }))">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.PlacedTime)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.PickUpTime)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DeliveredTime)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.DeliveryFee)
            </td>
            <td style="vertical-align:middle">
                @if (!item.IsReviewed)
                {
                    <input type="button" value="Review" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("ReviewOrder", "Restaurant", new { id = item.OrderId}))'" />
                }
                <input type="button" value="Details" class="btn btn-danger"
                       onclick="location.href = '@(Url.Action("OrderDetails", "Restaurant", new { id = item.OrderId}))'" />
            </td>
        </tr>
    }
    </table>
</body>
</html>
