@model DeliveryMan.Models.RestaurantOrdersViewModel
@using BizLogic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
    @Styles.Render("~/Content/RestaurantOrders.css")
    @Styles.Render("~/Content/Table.css")
</head>

<body>
    <br />
    <div>
        <div class="mybutton">
        <input type="button" value="Create A New Order" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("CreateOrder", "Restaurant"))'" />
        <input type="button" value="View Order History" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("OrdersHistory", "Restaurant"))'" />
            </div>
                <div class="balance">
                    <input type="button" value="Balance" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("AddBalance", "Restaurant"))'" />
                    @*@Html.DisplayNameFor(model => model.Balance)*@
                    @Html.DisplayFor(model => model.Balance)
                </div>
</div>
    <table class="table">
        <tr>
            <th style="vertical-align:middle">
            </th>
            <th style="vertical-align:middle; width: 15em" >
                Note
            </th>
            <th style="vertical-align:middle; width: 15em" >
                Destination
            </th>
            <th style="vertical-align:middle" >
                Deliveryman
            </th>
            <th style="vertical-align:middle" >
                Status
            </th>
            <th style="vertical-align:middle" >
                ETA
            </th>
            <th style="vertical-align:middle" >
                DeliveryFee
            </th>
            <th style="vertical-align:middle"></th>
        </tr>
        <tr>
            <td style="vertical-align:middle">
                Waiting Orders
            </td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>
        @foreach (var item in Model.WaitingOrders.ToList())
        {
            string destination = item.Contact.getFullAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Edit" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("EditOrder", "Restaurant", new { id = item.Id }))'" />
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Restaurant", new { id = item.Id }))'" />
                    <input type="button" value="Cancel" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("CancelOrder", "Restaurant", new { id = item.Id }))'" />
                </td>
            </tr>
        }

        <tr>
            <td style="vertical-align:middle">
                Pending Orders
            </td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>

        @foreach (var item in Model.PendingOrders.ToList())
        {
            string destination = item.Contact.getFullAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle">
                    @{
                        if (item.Deliveryman != null)
                        {
                            string res = item.Deliveryman.getName();
                            <a href="@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.Id }))">@res</a>                     
                        }
                    }
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Pick Up" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("PickUpOrder", "Restaurant", new { id = item.Id }))'" />
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Restaurant", new { id = item.Id }))'" />
                    <input type="button" value="Cancel" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("CancelOrder", "Restaurant", new { id = item.Id }))'" />
                </td>
            </tr>
        }

        <tr>
            <td style="vertical-align:middle">
                In Progress Orders
            </td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>

        @foreach (var item in Model.InProgressOrders.ToList())
        {
            string destination = item.Contact.getFullAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle">
                    @if (item.Deliveryman != null)
                    {
                        string res = item.Deliveryman.getName();
                        <a href="@(Url.Action("DeliverymanDetails", "Restaurant", new { Id = item.Id }))">@res</a>
                    }
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Restaurant", new { id = item.Id }))'" />
                    <input type="button" value="Cancel" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("CancelOrder", "Restaurant", new { id = item.Id }))'" />
                </td>
            </tr>
        }
    </table>

</body>
</html>
