
@{
    ViewBag.Title = "AcceptOrder";
}

@model DataLayer.Order

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accept Order</title>
</head>
<body>
    @if (ViewBag.ifSuccessed == 0)
    {  <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Note)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Contact.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contact.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlacedTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ETA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ETA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeliveryFee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeliveryFee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Deliveryman)
            </dt>
        </dl>
    </div>
        using (Html.BeginForm("AcceptOrder", "Deliveryman", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Accept it" class="btn btn-danger" />
                    <input type="button" value="Direction" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("Direction", "Deliveryman", new { s1 = Model.Restaurant.Contact.AddressToString(), s2 = Model.Contact.AddressToString() }))'" />
                </div>

            </div>

        }


    }

</body>
</html>
