@model DeliveryMan.Models.FindOrderViewModel
@{
    ViewBag.Title = "FindOrder";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk&sensor=false">
</script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places">
</script>
<script type="text/javascript">
    function findMyLocation() {
        document.getElementById("1").style.display = "none";
        document.getElementById("2").style.display ="block"
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
        } else {
            alert("Geo Location is not supported on your current browser!");
        }
        function success(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var city = position.coords.locality;
    
            document.getElementById("line1").value = "xxx";
            document.getElementById("line2").value = "xxx";
            document.getElementById("city").value = "xxx";
            document.getElementById("state").value = "xxx";
            document.getElementById("zipcode").value = "xxxxxx";
            document.getElementById("code").value = lat + "," + long;

        }
    }
    function hideElem() {
        document.getElementById("1").style.display = "none";
    }

    function showElem() {
        document.getElementById("1").style.display = "block";
        document.getElementById("line1").value = "";
        document.getElementById("line2").value = "";
        document.getElementById("city").value = "";
        document.getElementById("state").value = "";
        document.getElementById("zipcode").value = "";
        document.getElementById("code").value = "";
        document.getElementById("2").style.display = "none";
    }

</script>
<h2>@ViewBag.Title.</h2>
<body onload="findMyLocation()">
    @using (Html.BeginForm("FindOrder", "Deliveryman", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()

        <h4>Create a new order</h4>
        <hr />
        <div class="form-group">
            
        </div>
        
        <div id="2">
        <div class="form-group">
          @Html.Label("Current Location:", new { @class = "col-md-2 control-label" })
          <div class="col-md-10">
          @Html.TextBoxFor(m => m.latlng, new { @id = "code", @class = "form-control", @readonly = "readonly" })                   
              <input type="submit" class="btn btn-danger" value="Find Order" style="margin-top:20px"/>                  
         </div>
             
         
          </div>
        </div>
        <div class="form-group">
            @Html.Label("Distance", new { @class = "col-md-2 control-label" })
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.distance, 1.0) less than 1 mile
            
            </div>
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.distance, 3.0) less than  3 miles
            </div>
            <div class="radio-inline">
                @Html.RadioButtonFor(m => m.distance, 3.01) show all
            </div>
            <div>@Html.ValidationMessageFor(m => m.distance, "", new { @class = "text-danger" })</div>
     
   
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="button" value="Input An Address" onclick="showElem()" class="btn btn-danger" style="margin-left:80px" />
                <input type="button" value="Current Location" onclick="findMyLocation()" class="btn btn-danger"  />
            </div>
            </div>
            <div id="1" style="display:none">
                <div class="form-group">
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.line1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.line1, new { @id = "line1", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.line1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.line2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.line2, new { @id = "line2", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.line2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.city, new { @id = "city", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.state, new { @id = "state", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.zipCode, new { @class = "col-md-2 control-label" })
                    <div class="col-md-offset-1 col-md-10">
                        @Html.TextBoxFor(m => m.zipCode, new { @id = "zipcode", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.zipCode, "", new { @class = "text-danger" })
                        <input type="submit" class="btn btn-danger" value="Find Order" style="margin-top:20px"/>
                    </div>
                   
                </div>
            </div>


            }
</body>


 




 @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
