@model DeliveryMan.Models.FindOrderViewModel
@{
    ViewBag.Title = "FindOrder";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("FindOrder", "Deliveryman", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.line1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.line1, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.line2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.line2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.city, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.city, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.state, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.state, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.zipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Distance", new { @class = "col-md-2 control-label" })
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.distance, 1.0) < 1 mile
        </div>
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.distance, 3.0) < 3 miles
        </div>
        <div class="radio-inline">
            @Html.RadioButtonFor(m => m.distance, 3.01) > 3 miles
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Find" />
            </div>
        </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
