@using DataLayer
@{
    ViewBag.Title = "Find Order Results";
}

<h2>ViewOrdersByR</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Restaurant
        </th>
        <th>
            Destination
        </th>
        <th>
            Delivery Fee
        </th>
        <th>
            ETA
        </th>
    </tr>
    @{

        foreach (Order item in (List<Order>)ViewBag.res)
        {
            string address = item.Contact.AddressToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @address
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>

                <td>
                    @Html.ActionLink("PickUpOrder", "Deliveryman", new { id = item.Id }) |

                </td>
            </tr>
        }


    }


</table>
