@model IEnumerable<DataLayer.Deliveryman>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeliveryCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalStarsEarned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeliveryCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStarsEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ranking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
