@model DeliveryMan.Models.DeliverymanMyOrdersViewModel
@using BizLogic

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
    @Styles.Render("~/Content/RestaurantOrders.css")
    @Styles.Render("~/Content/Table.css")

</head>
<body>
    <br />
    <div>
        <input type="button" value="Find A Order" class="btn btn-danger"
               onclick="location.href = '@(Url.Action("FindOrder", "Deliveryman"))'" />
        <div class="balance">
            @Html.DisplayNameFor(model => model.Balance)
            @Html.DisplayFor(model => model.Balance)
        </div>
    </div>
    <table class="table">
        <tr>
            <th style="vertical-align:middle"></th>
            <th style="vertical-align:middle; width: 15em">
                Note
            </th>
            <th style="vertical-align:middle; width: 15em">
                Destination
            </th>
            <th style="vertical-align:middle">
                Restaurant
            </th>
            <th style="vertical-align:middle">
                ETA
            </th>
            <th style="vertical-align:middle">
                Delivery Fee
            </th>
            <th style="vertical-align:middle">
            </th>
        </tr>

        <tr>
            <td style="vertical-align:middle">Pending Orders</td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>
        @foreach (var item in Model.pendingOrders.ToList())
        {
            string destination = item.Contact.getPartialAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Deliveryman", new { id = item.Id }))'" />
                    <input type="button" value="Cancel" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("CancelPickup", "Deliveryman", new { id = item.Id }))'" />
                </td>
            </tr>
        }

        <tr>
            <td style="vertical-align:middle">In Progress Orders</td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>
        @foreach (var item in Model.inProgressOrders.ToList())
        {
            string destination = item.Contact.getPartialAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Deliveryman", new { id = item.Id }))'" />
                    <input type="button" value="Complete" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("CompleteOrder", "Deliveryman", new { id = item.Id }))'" />
                </td>
            </tr>
        }

        <tr>
            <td style="vertical-align:middle">Delivered Orders</td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
            <td style="vertical-align:middle"></td>
        </tr>
        @foreach (var item in Model.deliveredOrders.ToList())
        {
            string destination = item.Contact.getPartialAddress();
            <tr>
                <td style="vertical-align:middle"></td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td style="vertical-align:middle">
                    @destination
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle">
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle">
                    <input type="button" value="Details" class="btn btn-danger"
                           onclick="location.href = '@(Url.Action("OrderDetails", "Deliveryman", new { id = item.Id }))'" />
                </td>
            </tr>
        }
    </table>
</body>
</html>
