@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Index.css")
</head>
<div class="s-jumbotron hero-wrapper"
     style="background-image: url(../Content/Img/banner.jpg);">
    <br />
    <br />
    <br />
    <br />
@if (User.Identity.IsAuthenticated) {
    if (ViewBag.UserType == 0)
    {
    <p class="feed">Welcome DeliveryMan! Find an order to deliver</p>
    <div class="row">
        <div>
            <p class="center-button"><a href="@(Url.Action("FindOrder", "Deliveryman"))" class="btn btn-danger">Find Orders</a></p>
        </div>
        <div>
            <p class="center-button"><a href="@(Url.Action("MyOrders", "Deliveryman"))" class="btn btn-danger">View My Orders</a></p>
        </div>
        <br />
        <br />
    </div>
    }
    else
    {
        <p class="feed">Welcome Restaurant! Post an order for our deliveryman to find</p>
        <div class="row">
            <div>
                <p class="center-button"><a href="@(Url.Action("CreateOrder", "Restaurant"))" class="btn btn-danger">Create Order</a></p>
            </div>
            <div>
                <p class="center-button"><a href="@(Url.Action("Orders", "Restaurant"))" class="btn btn-danger">View Orders</a></p>
            </div>
            <br />
            <br />
        </div>
    }
}
else {
    <p class="feed">Your local food delivery solution!</p>
    <div class="row">
        <div>
            <p class="center-button"><a href="@(Url.Action("Register", "Account"))" class="btn btn-danger">Register</a></p>
        </div>
        <div>
            <p class="center-button"><a href="@(Url.Action("Login", "Account"))" class="btn btn-danger">Log In</a></p>
        </div>
        <br />
        <br />
    </div>
}
</div>
        <div class="row">
            <div class="col-md-4">
                <h2>DeliveryMan</h2>
                <p class="member-info">DeliveryMan is a web application that can provide a local delivery solution for restaurants. 
                It’s a platform for local restaurants such that they can deliver food orders to their customers with registered Deliveryman.</p>
                <p>
                <p class="member-info">
                    Registered restaurants can post food orders for delivery and registered deliveryman can find and deliver orders posted by restaurants.      
                </p>
                <a class="btn btn-danger" href="~/Home/About">Learn more &raquo;</a>
            </div>
            <div class="col-md-4">
                <h2>Team Members</h2>
                <p class="member-info">
                    Taiyan Hao, Master of Science in Computer Science at NYU Courant
                </p>
                <p class="member-info">
                    Weihang Song, Master of Science in Computer Science at NYU Courant
                </p>
                <p class="member-info">
                    Huiyu Sun, Master of science in computer science at NYU Courant
                </p>
                <p class="member-info">
                    Dongbo Xiao, Master of Science in Computer Science at NYU Courant
                </p>
                <p><a class="btn btn-danger" href="~/Home/Contact">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Instructor</h2>
                <p class="member-info">Cory Plock</p>
                <p class="member-info">Twenty one (21) years of industry and consulting experience in software engineering and research. Software technology strategist and advisor, code review expert, subject matter expert for IP valuation and patent prosecution, expert witness, Adjunct Associate Professor at New York University.</p>
                <p><a class="btn btn-danger" href="http://www.coryplock.com" target="blank">Learn more &raquo;</a></p>
            </div>
        </div>
