@model IEnumerable<DeliveryMan.Models.DeliverymanRankingViewModel>

@{
    ViewBag.Title = "Deliveryman Ranking";
}

<h2>@ViewBag.Title.</h2>

<h4>Here's a ranking of our top deliverymen!</h4>
<hr />

@foreach (var item in Model.OrderByDescending(x => x.Rank))
{
    if (item.TotalOrders >= 1)
    {
        <div class="form-group">
            <div class="col-md-10">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Icon")
                    </dt>
                    <dd>
                        <img src="~/Content/UserIcon/@item.IconUrl?id=1" style="width: 80px; height:80px">
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DeliverymanName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.DeliverymanName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rank)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.Rank)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TotalOrders)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.TotalOrders)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Rating)
                    </dt>
                    <dd>
                        @if (Math.Round(item.Rating) == 1)
                        {
                            <input type="radio" checked>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                        }

                        @if (Math.Round(item.Rating) == 2)
                        {
                            <input type="radio" disabled>
                            <input type="radio" checked>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                        }

                        @if (Math.Round(item.Rating) == 3)
                        {
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" checked>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                        }

                        @if (Math.Round(item.Rating) == 4)
                        {
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" checked>
                            <input type="radio" disabled>
                        }

                        @if (Math.Round(item.Rating) == 5)
                        {
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" disabled>
                            <input type="radio" checked />
                        }
                    </dd>

                    <dt>
                        @Html.LabelFor(modelItem => item.ReviewText)
                    </dt>
                    <dd>
                        @Html.DisplayFor(modelItem => item.ReviewText)
                    </dd>

                </dl>
            </div>
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
